.flag {
  --size: #{fluid(36, 48)};

  @include square(var(--size));
}

.question {
  &Title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: fluid(7, 15);
    font-size: fluid(18, 34);
    margin-bottom: fluid(15, 35);
  }

  &Item {
    display: contents;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid(15, 35);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &Answer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    width: 100%;
    padding: fluid(20, 25) fluid(25, 40);
    border-radius: 16px;
    background-color: var(--color-blue-20);
    transition-duration: var(--transition-duration);
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      border-radius: 16px;
      transition: opacity var(--transition-duration);
      background-image: var(--linear-gradient);
      opacity: 0;
      z-index: -1;
    }

    @include hover {
      &::after {
        opacity: 1;
      }
    }
  }
}

.answerOption {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.answered {
  pointer-events: none;
}

.correctAnswer {
  background-image: var(--linear-gradient);
}

.selected {
  background-color: var(--color-red);
}

.skeleton {
  width: 48px;
  height: 48px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d5d5d5;
  }
  100% {
    background-color: #e0e0e0;
  }
}
