.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.currentPoints {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: fluid(7, 10) fluid(10, 20);
  font-weight: 600;
  border-radius: 32px;
  background: var(--linear-gradient);

  &Icon {
    --size: #{fluid(26, 32)};

    @include square(var(--size));
  }
}

.title {
  font-size: fluid(24, 48);
}
