.root {
  display: flex;
  flex-direction: column;
  justify-self: center;
  row-gap: fluid(30, 50);
  width: 70%;
  padding-top: fluid(25, 120);
  height: 100dvh;

  @include tablet {
    width: 95%;
  }
}
