.root {
  background-color: var(--color-blue-10);
  border-radius: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 35px;
  padding: 100px 200px;
}
